---
layout: single
permalink: /projects/
title: "Projects"
toc: true
toc_label: "Projects list"
classes: wide
header:
    image: /assets/images/octavian-dan-projects-image-small.jpg
    caption: "Photo by [**Octavian Dan**](https://unsplash.com/@octadan) on [**Unsplash**](https://unsplash.com/)"
---

<link rel="stylesheet" href={{ "/assets/css/projects_styles.css" | relative_url }}>

<table>
<tbody>
{% tablerow item in site.data.projects cols:1 %}
    <div class="project-entry">
        <div class="project-header">
            <div class="project-headings">
                 <h2 id="{{ item.id }}"> {{ item.title }} </h2>
                {% if item.githublink or item.websitelink %}
                <div class="icon-links">
                    {% if item.githublink %} <a class="github-link" href="{{ item.githublink }}"><span class="fab fa-fw fa-github"></span> GitHub</a>{% endif %}&nbsp;
                    {% if item.websitelink %} <a class="website-link" href="{{ item.websitelink }}"><span class="fas fa-globe"></span> Website</a>{% endif %}&nbsp;
                </div>
                {% endif %}
                <div class="project-subtitle">{{ item.subtitle }}</div>
            </div>
            <div class="project-location-date">
                <div class="project-location" style="font-size: small;">{{ item.location }}</div>
                <div class="project-date" style="font-size: smaller;">{{ item.date }}</div>
            </div>
        </div>
        <div class="project-details">
            <ul>
                {% for detail in item.info %}
                    <li>{{ detail }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endtablerow %}
</tbody>
</table>
